<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="col-2"></th>
      <th scope="col" class="col-3">name</th>
      <th scope="col" class="col-5">profile</th>
      <th scope="col" class="col-2"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <th><%= attachment_image_tag user, :profile_image, fallback: "nophoto_thumbnail.png", size: "50x50", class: "rounded-circle" %></th>
        <td><%= link_to user.name, user_path(user), class: "text-dark" %></td>
        <td id ="profile-text-hidden"><%= user.profile %></td>
        <td id ="follow-btn<%= user.id %>"><%= render "relationships/follow-btn", user: user %></td>
      </tr>
    <% end %>
  </tbody>
</table>