<% posts.each do |post| %>
  <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 d-flex justify-content-center">
    <div class="card mr-1 mb-3" style="width: 17rem;">
      <%= attachment_image_tag post, :image, :fill, 300, 300, fallback: "nophoto_thumbnail.png", cslass: "bd-placeholder-img card-img-top" %>
      <div class="card-body">
        <h5 class="card-title", id="text-hidden"><%= post.title %></h5>
        <p class="card-text", id="text-hidden"><%= post.body %></p>
        <%= link_to "Show This", post_path(post), class: "btn btn-info"%><br>
        <%= post.user.name %><br>
        <%= post.created_at %>
      </div>
    </div>
  </div>
<% end %>