<div class="card mb-3 mx-5">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-1" id="favorite_<%= @post.id%>">
          <%= render "favorites/favorite-btn", post: @post %>
        </div>
        <div class="col-sm-4 text-center">
          <%= attachment_image_tag(@post, :image, :fill, 300, 300, fallback: "nophoto_thumbnail.png", class: "bd-placeholder-img card-img-top") %>
        </div>
        <div class="col-sm-7 ">
          <h5 class="card-title pt-3"><%= simple_format @post.title %></h5>
          <p class="card-text"><%= simple_format @post.body %></p>
          <small class="comment" id="comment-count">コメント数:<%= @post.post_comments.count %></small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-7" id="post-comment_<%= @post.id%>">
      <%= render "post_comments/post-comment", post: @post, post_comment: @post_comment %>
    </div>
    <div class="col-md-5">
      <%= form_with model:[@post, @post_comment], remote:true do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control" %>
        </div>
        <div class="form-group text-right">
          <%= f.submit "送信", class: "btn btn-dark" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

